:global(.ui.form .disabled.field) {
  opacity: 1.00!important;

  :global(.ui.disabled.input) {
    opacity: 1.00!important;
    input[disabled] {
      opacity: 1.00!important;
    }
    :global(.ui.button:disabled) {
      opacity: 1.00!important;
    }
  }
}
.passwordInput {
  input[disabled] {
    background-color: #e8e5e5 !important;
  }
}

.eye:disabled {
  background-color: #e8e5e5!important;
}

